doctype html
html
  head
    title Welcome to ABCD Dance Academy
    block scripts
    block style
  body
    nav#navbar 
        ul 
            div#logo
                img(src="https://www.seekpng.com/png/detail/304-3048704_michael-jackson-vector-dance-logo-michael-jackson.png")
                | ABCD 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact Us]
            li #[a(href="/") Others]
            li #[a(href="/") Downloads]
    block content
    footer#footer 
        Copyright © 2022 ABCD Dance Academy | All rights reserved