h1{
    text-align: center;
    margin: 12px;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    width: 40%;
    padding: 10px;
    margin: 12px;
    outline: none;
}
.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background: rgb(42, 17, 17);
    margin-bottom: 8px;
}
.btn:hover{
    cursor: pointer;
    background-color: brown;
    color: black;
}
.container{
    background: center / cover no-repeat url("https://images.unsplash.com/photo-1450818074504-fb9713fe584e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8b2xkJTIwdGVsZXBob25lfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}